<h1>Editing question</h1>
  <%= link_to "Back to questions", questions_path, class:"btn btn-success" %>
<hr size="8px" color="green" />
<%= render "form", question: @question %>
<hr size="8px" color="green" />