<p style="color: green"><%= notice %></p>

<h1>Lessons </h1>
<%= link_to "New lesson", new_course_lesson_path() %>
<hr>
<div id="lessons">
  <% @lessons.each do |lesson| %>
    <%= render lesson %>
    <p>
      <%= link_to "Show this lesson", [@course, @lesson] %>
    </p>
  <% end %>
</div>


