<h1>Lessons </h1>
<%= link_to "New lesson", new_course_lesson_path(), class:"btn btn-success" %>
<hr size="8px" color="green" />
<div id="lessons">
  <% @lessons.each do |lesson| %>
    <%= render lesson %>
    <p>
      <%= link_to "Show this lesson", course_lesson_path(@course, lesson) %>
    </p>
<hr size="8px" color="green" />

  <% end %>
</div>


