<h1>New lesson</h1>
  <%= link_to "Back", course_lessons_path(@course), class:"btn btn-outline-success", style:"--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" %>
<hr size="8px" color="green" />
<%= render "form", lesson: @lesson, course: @course %>
<hr size="8px" color="green" />