<h1>Editing course</h1>
  <hr size="8px" color="green" />

<%= render "form", course: @course %>
<br>
<div>
  <%= link_to "Show this course", @course, class:"btn btn-outline-success", style:"--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" %> |
  <%= link_to "Back to courses", courses_path, class:"btn btn-outline-success", style:"--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" %>
</div>
  <hr size="8px" color="green" />