<h1>New course</h1>
  <%= link_to "Back to courses", courses_path, class:"btn btn-outline-success", style:"--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" %>
<hr size="8px" color="green" />
<%= render "form", course: @course %>
<hr size="8px" color="green" />